{# polls/_vote_form.html #}
<form action="{% url 'polls:vote' question.id %}" method="post">
  {% csrf_token %}

    <h3>{{ question.question_text }}</h3>
    {% if error_message %}
      <p><strong>{{ error_message }}</strong></p>
    {% endif %}
    <div class="form-body">
      <div class="form-options">
      {% for choice in question.choice_set.all %}
        <label>
          <input
            class="radio-vote"
            type="radio"
            name="choice"
            value="{{ choice.id }}"
          > {{ choice.choice_text }}
        </label>
      {% endfor %}
      </div>
      <div class="form-submit">
        <button type="submit" class="submt-btn">Vote</button>
      </div>
    </div>
 
</form>
