{# polls/all_questions.html #}
{% load static %}
<link rel="stylesheet" href="{% static 'polls/single_page.css' %}">
<link href="{% static 'css/fonts.css' %}" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const choicesMap = {{ choices_map|safe }};
</script>


<script src="{% static 'polls/chart.js' %}"></script>

<div class="question-cards">
  {% for question in questions %}
    <div class="card">

        {# Re-use your existing form HTML exactly as in detail.html #}
        {% include "polls/_vote_form.html" with question=question error_message=None %}

        {# Chart container #}
        <canvas id="chart-{{ question.id }}" width="400" height="200"></canvas>

    </div>
  {% endfor %}
</div>

