body {
    background-color: white;
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    margin: 0;
}

.card h3 {
  font-family: "exo";
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
  padding: 0.6rem 0.6rem;
}

.card form {
    margin: 0;
}

.submt-btn {
    font-family: "exo";
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0.5rem 1.5rem;
    color: white;
    border: none;
    cursor: pointer;
    background: linear-gradient(135deg, rgba(53, 64, 119, 0.782) 30%, rgba(85, 86, 130, 0.933) 100%);
    width: 100%;
    height: 100%;
}

.card label {
    font-family: "exo";
    font-weight: 300;
    font-size: 1rem;
}

.question-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2.8rem;
    padding: 2.5rem;
}

.card {
    padding: 1rem;
    border-radius: 12px;
    background: linear-gradient(110deg, rgba(70, 70, 70, 0.916) 45%, rgba(30, 30, 30, 0.933) 100%);
    color: #fff;
    text-align: center;
    overflow: hidden;
}

.form-body {
  margin: 0.7rem 0.7rem;
  display: flex;
  align-items: center; /* centra verticalmente si quieres */
  gap: 0.2rem;  
  border-color: rgba(115, 148, 177, 0.75);         /* espacio entre columnas, opcional */
  border-width: 0.1rem; /* ancho del borde, opcional */
  border-style: solid; /* tipo de borde, opcional */
  border-radius: 0.5rem; /* bordes redondeados, opcional */
  background-color: rgba(88, 105, 121, 0.75);   ;
}

.form-options {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;         
  align-items: flex-start;
}

.form-submit {
  flex: 1;
  display: flex;
  justify-content: flex-end; 
  align-items: center;     
}


