body {
    background-color: white;
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    margin: 0;
}

.card h3 {
  font-family: "exo";
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
  padding: 0.6rem 0.6rem;
}

.card form {
    margin: 0;
}

.form-submit {
  flex: 1;
  display: flex;
  justify-content: flex-end; 
  align-items: stretch;   
}

.submt-btn {
    font-family: "exo";
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0.5rem 1.5rem;
    color: white;
    border: none;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    cursor: pointer;
    background: linear-gradient(135deg, rgba(59, 77, 166, 0.782) 10%, rgba(26, 26, 114, 0.933) 100%);
    width: 100%;
}

.submt-btn:hover {
    background: linear-gradient(135deg, rgba(88, 103, 178, 0.782) 10%, rgba(47, 47, 112, 0.933) 100%);
}

.form-options label {
    font-family: "exo";
    font-weight: 300;
    font-size: 1rem;
    display: flex;
    align-items: flex-start;
    text-align: left;
}

.question-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2.8rem;
    padding: 2.5rem;
}

.card {
    padding: 1rem;
    border-radius: 12px;
    background: linear-gradient(110deg, rgba(70, 70, 70, 0.916) 45%, rgba(30, 30, 30, 0.933) 100%);
    color: #fff;
    text-align: center;
    overflow: hidden;
}

.form-body {
  margin: 0.7rem 0.7rem;
  display: flex;
  align-items: stretch;
  gap: 0.2rem;  
  border-color: rgba(116, 183, 246, 0.75);        
  border-width: 0.1rem; 
  border-style: solid;
  border-radius: 0.5rem; 
  background-color: rgba(88, 105, 121, 0.75);   
}

.form-options {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;         
  align-items: flex-start;
}


